html.medium div#head {
	width: 100%;
	height: 8vh;
	font-size: 5vh;
	vertical-align: middle;
	background-color: #161620;
}

html.medium div#head div#bounding {
	margin: auto;
	width: 55%;
}

html.medium div#head #bounding #logo_pair img {
	padding: 1.5vh;
	height: 5vh;
}

html.medium div#head div#bounding div#logo_pair {
	float: left;
}

html.medium div#head div#bounding div#logo_pair h1 {
	display: none;
}